

* {
    margin: 0;
    padding: 0;
}

body{
    color: rgb(0, 0, 0);
}

h1{
    margin-left: 5px;
}

.navbar {
    display: flex;
    margin-top: 10px;
}

.dark-mode{
    background-color: rgb(28, 28, 28);
    color: white;
}

ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 90%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .box{
    background-color: #f8f7f7;
    border-radius: 10px;
  }

  .box:hover {
    background-color: #e7e7e7;
  }

  .button{
    display: flex;
    justify-content: flex-end;
    border-radius: 50px;
  }

  h2{
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  h3{
    margin-bottom: 10px;
  }

  .New {
     display: flex; 
    justify-content: center;
    
  }